[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
tensorflow = "*"
tensorboard = "*"
sklearn = "*"

[dev-packages]
ipython = "*"
pylint = "*"
"autopep8" = "*"
"flake8" = "*"
pytest = "*"
pandas = "*"
pydot = "*"

[requires]
python_version = "3.6"
